body {
    font-family: sans-serif;
    padding: 0px;
    margin: 0px;
    overflow-y: auto;
}

.invisible {
    display: none;
}

#refresh {
    width: 24px;
    margin: 0px;
}

#tasks {
    overflow: hidden;
    margin: 0px;
    list-style-type: none;
    -webkit-padding-start: 0px;
}

#tasks>li:first-child {
    border-top-style: none;
}

#tasks>li {
    box-sizing: border-box;
    border-top-style: solid;
    border-width: 1px;
    border-color: #eaeaea;
    transition: height 0.3s;
}
.taskRow {
    position: relative;
    transition-timing-function: ease-out;
}

.taskContent {
    padding-left: 45px;
    padding-right: 35px;
    margin: 10px;
    display: inline-block;
}

.taskRow h1 {
    font-size: initial;
    font-weight: normal;
    -webkit-margin-before: 0.3em;
    -webkit-margin-after: 0.3em;
}

.taskRow i {
    margin-top: 5px;
}

.undoButton {
    color: white;
    text-align: right;
    margin: 10px;
}

.undoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.taskNote {
    font-size: small;
}

.taskDate {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 20px;
    bottom: 0px;
    text-align: center;
    font-size: small;
    margin: 10px;
    /* margin-top: auto; */
    /* margin-bottom: auto; */
}

.taskSymbol {
    position: absolute;
    color: white;
    margin-left: 10px;
    display: inline-block;
    border-radius: 50%;
    width: 35px;
    background-color: #FF4081;
    height: 35px;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    font-size: large;
    line-height: 35px;
    top: 0px;
    bottom: 0px;
}

